.nave {
background-color: blanchedalmond;
border-radius: 3px;
list-style-type: none ;
overflow: auto;
}
 .nave li { 
    float: left;
 }

 .icon {
 display: block;   
padding:0px 3px 3px 3px ;
margin: 10px;
color: red;
 } 
 .nave li a:hover {
    background-color: black;
    color: blueviolet;
 }

 .mainp {
margin: 0px;
 }

 .p {
    display: block;
    padding: 2px;
    margin: 0px;
    
 }
 body{
    cursor: 1000px;
 }

 .list-style{
list-style:url("https://apod.nasa.gov/apod/image/2302/SunHalphaC_Ergun_2065.jpg") inside ;

 }